.tick {
  x1: 0;
  x2: 0;
  stroke-width: 2;
  fill: #00AAFF;
}

.red{
  fill: red;
}

#hours {
  fill: white;
}

#mins {
  fill: gray;
}

#mid {
  fill: #444444;
}

.lbl {
  fill: white;
  font-size: 25;
}

#top{
  x: 50%+2;
  y: 12%;
  text-anchor: middle;
}

#left{
  x: 5%+12;
  y: 51%+6;
  text-anchor: middle;
}

#right{
  x: 95%-12;
  y: 51%+6;
  text-anchor: middle;
}

#bot{
  x: 50%+2;
  y: 95%-8;
  text-anchor: middle;
}

#data{
  font-size: 15;
}

#heartRate{
  x: 30%;
  y: 38%;
  text-length: 3;
  text-anchor: begin;
  fill: firebrick;
}
